@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
    --primary-color: #9b5de5;

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 750px;
}

.header-list {
    list-style: none;
    display: block;
    padding: 0rem 4rem;
    padding-bottom: 2rem;
    text-align: right;

}

.header {
    padding-top: 1rem;
    font-weight: bold;
    color: white;
    font-size: large;
}

.header-list .list-item {

    padding: 0rem 0.5rem;
    display: inline;
}



.home-button {
    color: white;
    padding: 2rem 2rem;


}

.right {
    background-color: #9b5de5;
    border-bottom-left-radius: 1rem;
}

hr {
    margin-bottom: 2rem;
}

.image {
    max-width: 350px;
    margin: auto;
    display: block;

}

.right .header .header-list {
    text-align: right;
}

.container {
    padding: 0rem 1rem;
}

.hero {
    padding: 2rem;
}

.heading {
    text-align: center;
    color: #6B7280;
    font-weight: bold;
    padding-top: 1rem;
}

.diff-color {
    color: var(--primary-color);

}

.ow {
    background-color: #DEDEDE;
   
    
}

.sec-pad {
    padding: 2rem;
    text-align: center;
    margin: 0px;
}

.link {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.b-project {
    border: 2px solid;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--primary-color);
}

.link-second {
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
}

.footer .footer-header {
    padding: 2rem;
    font-size: x-large;
    font-weight: bold;
    color: white;
}


.footer {
    text-align: center;
    display: block;
    background-color: var(--primary-color);
    padding: 2rem;
    border-top-right-radius: 1rem;
}

.inline-list {
    list-style: none;
    display: flex;
    text-align: center;

}

.non-underline {
    text-decoration: none;
    color: white;
    letter-spacing: 0.1rem;
    font-size: x-large;
}

.footer-link {
    text-align: center;
    text-decoration: none;
}

.footer-inline-list {
    list-style: none;


}

.footer-inline-list li {
    display: inline;
    padding: 0rem 1rem;
}

.footer-inline-list a {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.container {
    padding: 0.5rem 1rem;
}

.list-non-bullet {
    list-style: none;
    padding: 0rem;
}

.link-active {
    font-weight: bold;
}
.round{
    border-radius: 50%;
}